<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Back"></ion-back-button>
      </ion-buttons>
      <ion-title>Find PassWord</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      1. Input email or tel> 2. Input Code>3. Reset PassWord
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-slides  #forgotPasswordSlides>
      <ion-slide>
          <form (ngSubmit)="onSendPhone()" #forgotPasswordForm="ngForm" novalidate>
            <ion-list>
              <ion-item>
                <ion-label position="fixed">Email/Tel</ion-label>
                <ion-input name="forgotPhone" type="text" required [(ngModel)]="user.forgotPhone"></ion-input>
              </ion-item>
              <div padding-horizontal>
                <ion-button type="submit" expand="full" color="primary" [disabled]="forgotPasswordForm.invalid">Git</ion-button>
              </div>
            </ion-list>
          </form>
      </ion-slide>
      <ion-slide>
        <form (ngSubmit)="onSendCode()" #codeForm="ngForm" novalidate>
          <ion-list>
            <ion-item>
              <ion-label position="fixed">Code</ion-label>
              <ion-input name="code" type="text" required [(ngModel)]="user.code"></ion-input>
            </ion-item>
            <ion-text text-left color="danger" *ngIf="codeForm.submitted">
              <p [hidden]="codeIsRight" padding-start>Your code is not right!</p>
            </ion-text>
            <div padding-horizontal>
              <ion-button type="submit" expand="full" color="primary" [disabled]="codeForm.invalid">Git</ion-button>
            </div>
          </ion-list>
        </form>
      </ion-slide>
      <ion-slide>
        <form (ngSubmit)="onSendPwd()" #pwdForm="ngForm" novalidate>
          <ion-list>
            <ion-item>
              <ion-label position="fixed">User PassWord</ion-label>
              <ion-input name="pwd" type="password" required [(ngModel)]="user.pwd"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="fixed">Confirm PassWord</ion-label>
              <ion-input name="cpwd" type="password" required [(ngModel)]="user.cpwd"></ion-input>
            </ion-item>
            <ion-text text-left color="danger" *ngIf="pwdForm.submitted">
              <p [hidden]="pwdIsSame" padding-start>PassWord not Same</p>
            </ion-text>
            <div padding-horizontal>
              <ion-button type="submit" expand="full" color="primary" [disabled]="pwdForm.invalid">Git</ion-button>
            </div>
          </ion-list>
        </form>
      </ion-slide>
    </ion-slides>
  </ion-content>
  